<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>B2B2C在线商城</display-name>
  <absolute-ordering/>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletRegister</servlet-name>
    <servlet-class>com.fat.servlet.ServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegister</servlet-name>
    <url-pattern>/registerTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.fat.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/loginTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletProById</servlet-name>
    <servlet-class>com.fat.servlet.ServletProById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProById</servlet-name>
    <url-pattern>/proById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletProduct</servlet-name>
    <servlet-class>com.fat.servlet.ServletProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProduct</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletBuyer</servlet-name>
    <servlet-class>com.fat.servlet.ServletBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuyer</servlet-name>
    <url-pattern>/ServletBuyer</url-pattern>
  </servlet-mapping>
</web-app>